.skills-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skills-img {
    border-radius: 50%;
    width: 11rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: all 300ms ease;
}

.skills-img:hover {
    background-color: aqua;
    animation: flip 600ms linear;
}

@keyframes flip {
    from {
        transform: rotateY(180deg);
    }

    to {
        transform: rotateY(0deg);
    }
}

.skills-bubble {
    color: var(--text-light);
    background-color: var(--secondary-color-light);
    width: 150px;
    height: max-content;
    padding: 3px 10px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    transition: all 500ms ease;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    z-index: 4;
    position: relative;
}

.triangle {
    background: transparent;
}

.skills-container.dark .skills-bubble {
    color: var(--text-dark);
    background-color: var(--secondary-color-dark);
}

.skills-container.dark>h5 {
    color: var(--primary-color-dark);
}

.skills-bubble:hover {
    scale: 1.1;
}

.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 5px;
}

@media screen and (min-width: 800px) {
    .skills-container {
        position: relative;
    }

    .skills-bubble:hover {
        scale: 1.3;
    }

    .triangle {
        background: transparent;
        width: 0;
        height: 0;
        border: solid 14px var(--secondary-color-light);
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-top-width: 20px;
        position: absolute;
        bottom: -25px;
        right: calc(50% - 15px);
        z-index: -1;
        transition: all 500ms ease;
    }

    .skills-container.dark .triangle {
        border-top-color: var(--secondary-color-dark);
    }

    .skills-img {
        margin-top: 4em;
        z-index: 3;
    }

    .skills-grid {
        display: grid;
        grid-template: repeat(3, auto) / repeat(3, auto);
        gap: 5em 2em;
        position: absolute;
        top: 2.5em;
    }

    .skills-grid div:nth-of-type(1) {
        grid-row: 1;
        grid-column: 2;
    }

    .skills-grid div:nth-of-type(2) {
        grid-row: 2;
        grid-column: 1;
    }

    .skills-grid div:nth-of-type(3) {
        grid-row: 2;
        grid-column: 3;
    }

    .skills-grid div:nth-of-type(4) {
        grid-row: 3;
        grid-column: 2;
    }

    .skills-grid div:nth-of-type(5) {
        grid-row: 1;
        grid-column: 1;
        transform: translate(30px, 50px);
    }

    .skills-grid div:nth-of-type(6) {
        grid-row: 3;
        grid-column: 3;
        transform: translate(-30px, -50px);
    }

    .skills-grid div:nth-of-type(7) {
        grid-row: 1;
        grid-column: 3;
        transform: translate(-30px, 50px);
    }

    .skills-grid div:nth-of-type(8) {
        grid-row: 3;
        grid-column: 1;
        transform: translate(30px, -50px);
    }
}