.nav--header {
    width: 100%;
    height: max-content;
    background-color: var(--secondary-color-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2.2rem 6rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.nav--header.dark {
    background-color: var(--secondary-color-dark);
}

.nav--header-list {
    list-style: none;
}

.nav--header-list>li {
    margin: 1rem 0;
    font-size: large;
}

.nav--header-list a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--text-light);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav--header-list a:hover {
    color: var(--alternative-color-light);
}

.nav--header.dark a {
    color: var(--text-dark);
}

.nav--header.dark a:hover {
    color: var(--primary-color-dark);
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    z-index: 5;
    background: var(--background-light);
    transition: all 0.4s smooth;
    -webkit-transition: 0.4s;
    animation: translate linear 0.4s;
}

@keyframes translate {
    from {
        -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        transform: translateY(-100px);
    }

    to {
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }
}

nav.dark {
    background: var(--background-dark);
}

.nav--toggle {
    margin: 15px;
    background-color: var(--primary-color-light);
    width: 80px;
    height: 42px;
    border-radius: 42px;
    position: relative;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

nav.dark .nav--toggle {
    background-color: var(--primary-color-dark);
}

.nav--toggle-thumb {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.nav--toggle-thumb.light {
    background-color: var(--sun-background);
    color: var(--text-light);
    left: 3px;
    top: 3px;
}

.nav--toggle-thumb.dark {
    background-color: var(--moon-background);
    color: var(--text-dark);
    right: 3px;
}

.nav--toggle:active .nav--toggle-thumb.light {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(36px);
}

.nav--toggle:active .nav--toggle-thumb.dark {
    -webkit-transform: translateX(-36px);
    -ms-transform: translateX(-36px);
    transform: translateX(-36px);
}

.nav--toggle:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

nav.dark .nav--toggle:hover {
    box-shadow: rgba(135, 94, 4, 0.35) 0px 5px 15px;
}

@media screen and (min-width: 800px) {
    nav {
        position: fixed;
        top: 0;
        width: 100%;
        padding: 0;
        background: transparent;
    }

    nav.dark {
        background: transparent;
    }

    .nav--header {
        padding: 1rem 0.5rem;
    }

    .nav--header-list {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}