.nav--header {
    width: 100%;
    height: max-content;
    background-color: var(--secondary-color-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 2.2rem 6rem; */
    padding: 2.2rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.nav--header.dark {
    background-color: var(--secondary-color-dark);
}

.nav--burger {
    /* align-self: flex-end; */
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    width: 100%;
}

nav.dark .nav--burger {
    color: var(--text-dark);
}

.nav--small-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1em;
    -webkit-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
    margin-top: -30px;
    margin-bottom: 10px;
}

.nav--invisible-icon {
    opacity: 0;
}

.nav--header-list {
    list-style: none;
    display: none;
}

nav a {
    color: var(--text-light);
    font-size: large;
    display: flex;
    align-items: center;
    gap: 0.1em;
}

nav a:hover {
    color: var(--alternative-color-light);
}

nav.dark a {
    color: var(--text-dark);
}

nav.dark a:hover {
    color: var(--primary-color-dark);
}

nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    z-index: 5;
    background: var(--background-light);
    transition: transform 0.4s ease;
    -webkit-transition: transform 0.4s ease;
    animation: translate linear 0.4s;
}

@keyframes translate {
    from {
        -webkit-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        transform: translateY(-100px);
    }

    to {
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }
}

nav.dark {
    background: var(--background-dark);
}

.nav--toggle {
    width: 81px;
    height: 43px;
    border-radius: 100px;
    background-color: var(--primary-color-light);
    margin: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

nav.dark .nav--toggle {
    background-color: var(--primary-color-dark);
}

.nav--toggle-thumb {
    background-color: white;
    width: 36px;
    height: 36px;
    margin-right: 4px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    font-size: x-large;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.nav--toggle input {
    padding: 0;
    margin: 0;
    pointer-events: none;
    width: 0;
    height: 0;
    opacity: 0;
}

.nav--toggle input:checked+.nav--toggle-thumb {
    -webkit-transform: translateX(-38px);
    -ms-transform: translateX(-38px);
    transform: translateX(-38px);
}

@media screen and (min-width: 800px) {
    nav {
        position: fixed;
        top: 0;
        width: 100%;
        padding: 0;
        background: transparent;
    }

    nav.dark {
        background: transparent;
    }

    .nav--burger {
        display: none;
    }

    .nav--header {
        padding: 1rem 0.5rem;
    }

    .nav--header-list {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 1rem 0;
    }

    .nav--small-menu {
        display: none;
    }
}