.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #325b67; */
    background-color: var(--secondary-color-light);
    height: 100px;
    gap: 15px;
    padding: 60px 0;
    text-align: center;
    color: var(--text-light);
    margin-top: 50px;
}

.footer-container.dark {
    background-color: var(--secondary-color-dark);
    color: var(--text-dark);
}

.footer-container .links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer-container .links > a {
    color: var(--text-light);
    font-size: x-large;
}

.footer-container.dark .links > a {
    color: var(--text-dark);
}

.footer-container .links > a:hover {
    color: var(--alternative-color-light);
}

.footer-container.dark .links > a:hover {
    color: var(--primary-color-dark);
}