.xp-container {
    text-align: center;
    margin-top: 40px;
}

.xp-container.dark > h5 {
    color: var(--primary-color-dark);
}

.xp-cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 5px;
    justify-content: center;
}

@media screen and (min-width: 800px) {
    .xp-container {
        margin-top: 100px;
    }

    .xp-cards {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        flex-wrap: wrap;
    }
}