.xp-card {
    background-color: var(--secondary-color-light);
    border-radius: 20px;
    max-width: 100%;
    max-height: max-content;
    padding: 25px;
    transition: all 500ms ease;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.xp-card:hover {
    background-color: var(--alternative-color-light);
    transform: scale(1.05);
}

.xp-card.dark {
    background-color: var(--secondary-color-dark);
}

.xp-card.dark:hover {
    background-color: var(--alternative-color-dark);
}

.xp-card > h2 {
    margin-bottom: 15px;
    color: var(--text-light);
}

.xp-card.dark > h2 {
    color: var(--text-dark);
}

.xp-card > h5 {
    color: var(--primary-color-light);
}

.xp-card.dark > h5 {
    color: var(--primary-color-dark);
}

.xp-card > ul {
    text-align: start;
    margin: 15px 0 25px 25px;
    color: var(--text-light);
    list-style-position: outside;
    line-height: 1.5em;
}

.xp-card.dark > ul {
    color: var(--text-dark);
}

.xp-card > img {
    max-width: 50%;
}

.xp-card > ul li::marker {
    color: var(--primary-color-light);
}

.xp-card.dark > ul li::marker {
    color: var(--primary-color-dark);
}

@media screen and (min-width: 800px) {
    .xp-card {
        max-width: 35%;
    }
}