* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
}

.main {
    background-color: var(--background-light);
}

.main.dark {
    background-color: var(--background-dark);
}

:root {
    --primary-color-light: #54433a;
    --secondary-color-light: #ddd5d0;
    --alternative-color-light: #ff856b;
    --text-light: #000;
    --background-light: #fbf2ed;
    --sun-background: #f9df36;

    --primary-color-dark: #f99136;
    --secondary-color-dark: #917159;
    --alternative-color-dark: #3c6571;
    --text-dark: #ffffff;
    --background-dark: #063641;
    --moon-background: #2d3537;
}

/* LIGHT THEME */
.container {
    text-align: center;
    padding: 2rem 5rem;
}

h1,
h3,
h5 {
    color: var(--primary-color-light);
    margin: 1rem 0;
    display: flex;
    gap: 4px;
    justify-content: center;
    text-align: center;
}

h2 {
    margin-bottom: 0.8em;
    color: var(--text-light);
}

.container a {
    color: var(--primary-color-light);
}

/* DARK THEME */
.container.dark h1,
.container.dark h3,
.container.dark h5,
.container.dark a {
    color: var(--primary-color-dark);
}

.container.dark h2 {
    color: var(--text-dark);
}